@page "/"
@inherits LayoutComponentBase
@inject I18nService I18n

<div class="main-banner">
    <img src="images/Inside.jpg" alt="Wnętrze salonu" class="main-photo" />
</div>

<h1>@I18n.T("WelcomeMessage")</h1>

@code {
    protected override void OnInitialized()
    {
        I18n.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        I18n.OnChange -= StateHasChanged;
    }
}
