@page "/"
@inherits LayoutComponentBase
@inject I18nService I18n

<h1>@I18n.T("WelcomeMessage")</h1>

@code {
    protected override void OnInitialized()
    {
        I18n.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        I18n.OnChange -= StateHasChanged;
    }
}