<div class="loading-container">
    <svg class="loading-progress">
        <circle r="45%" cx="50%" cy="50%" />
        <circle r="45%" cx="50%" cy="50%" />
    </svg>
    <div class="loading-progress-text">Ładowanie...</div>
</div>

@code {

}
