@page "/services"
@inject I18nService I18n

<div class="services-section">
    <h2 class="services-title mb-4">@I18n.T("OurServices")</h2>
    <div class="table-responsive">
        <table class="table table-hover services-table align-middle">
            <thead>
                <tr>
                    <th scope="col">@I18n.T("Service")</th>
                    <th scope="col">@I18n.T("Price")</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>❤️ Master Kobido Up – Face Massage</td>
                    <td>£80</td>
                </tr>
                <tr>
                    <td>💛 Kobido BODY</td>
                    <td>£65</td>
                </tr>
                <tr>
                    <td>💚 TransBuccal massage</td>
                    <td>£65</td>
                </tr>
                <tr>
                    <td>🩷 Aesthetic kinesiology taping</td>
                    <td>£45</td>
                </tr>
                <tr>
                    <td>
                        💜 Facial Acupuncture:
                        <ul class="mb-0">
                            <li>Pinning</li>
                            <li>100 Points of Youth</li>
                            <li>Enterodermal Acupuncture</li>
                        </ul>
                    </td>
                    <td>£55</td>
                </tr>
                <tr>
                    <td>💙 Deep tissue massage</td>
                    <td>£65</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
